<h1><center> CT Reporting Rates </center></h1>

In [1]:
import pandas as pd
import numpy as np
import calendar

In [2]:
# Declare the From and To Dates
FromDate = pd.to_datetime("2021-05-01")
ToDate = pd.to_datetime("2021-05-31")
# ToDate = pd.to_datetime(FromDate) + pd.offsets.MonthEnd()+pd.DateOffset(days=5)
print('From Date: ',FromDate,'To Date: ',ToDate)

From Date:  2021-05-01 00:00:00 To Date:  2021-05-31 00:00:00

### Import the data
- This is data on reporting for all the Active EMR Sites and those that reported in the last 12 months

In [3]:
rr = pd.read_csv("C:/Users/Admin/Desktop/Reporting Rates/ReportingRatesCTRaw_Mysql.csv")
rr.head()

,DisplayMFL,DisplayFacilityName,DisplaySubcounty,DisplayCounty,DisplayMechanism,DisplayAgency,UploadStatus,UploadDate,Upload_monthYear,SiteCode,MPI_SiteCode,UploadDate_MPI,Upload_monthYear_MPI
0,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,Both Care & Treatment + PKV(MPI) uploaded,04/06/2021,Apr-21,17431.0,17431.0,04/06/2021,Apr-21
1,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,Only Care & Treatment Uploaded,08/03/2020,Aug-20,17431.0,NaN,NaN,NaN
2,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,Only Care & Treatment Uploaded,12/08/2020,Dec-20,17431.0,NaN,NaN,NaN
3,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,Both Care & Treatment + PKV(MPI) uploaded,02/04/2021,Feb-21,17431.0,17431.0,02/04/2021,Feb-21
4,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,Only Care & Treatment Uploaded,07/04/2020,Jul-20,17431.0,NaN,NaN,NaN

In [4]:
rr.shape

(13154, 13)

In [5]:
rr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13154 entries, 0 to 13153
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DisplayMFL            13154 non-null  int64
 1   DisplayFacilityName   13154 non-null  object
 2   DisplaySubcounty      13154 non-null  object
 3   DisplayCounty         13154 non-null  object
 4   DisplayMechanism      13154 non-null  object
 5   DisplayAgency         13144 non-null  object
 6   UploadStatus          13154 non-null  object
 7   UploadDate            13107 non-null  object
 8   Upload_monthYear      13107 non-null  object
 9   SiteCode              13107 non-null  float64
 10  MPI_SiteCode          6252 non-null   float64
 11  UploadDate_MPI        6252 non-null   object
 12  Upload_monthYear_MPI  6252 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.3+ MB

### Data Cleaning
- Convert Dates to correct data types
- Replace NULL with NA's 
- Remove Duplicates (Grouped by MFLCode and UploadDate)

In [6]:
rr=rr.replace({'NULL':np.NaN})

In [7]:
# Columns with NULLS
rr.columns[rr.isna().any()].tolist()

['DisplayAgency',
 'UploadDate',
 'Upload_monthYear',
 'SiteCode',
 'MPI_SiteCode',
 'UploadDate_MPI',
 'Upload_monthYear_MPI']

In [8]:
#convert the upload_date and Upload_date MPI field from object to datetime datatype
rr['UploadDate'] = pd.to_datetime(rr['UploadDate'])
rr['UploadDate_MPI'] = pd.to_datetime(rr['UploadDate_MPI'])

In [9]:
rr.tail()

,DisplayMFL,DisplayFacilityName,DisplaySubcounty,DisplayCounty,DisplayMechanism,DisplayAgency,UploadStatus,UploadDate,Upload_monthYear,SiteCode,MPI_SiteCode,UploadDate_MPI,Upload_monthYear_MPI
13149,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,Only Care & Treatment Uploaded,2021-03-23,Mar-21,18743.0,NaN,NaT,NaN
13150,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,Only Care & Treatment Uploaded,2021-05-21,May-21,18743.0,NaN,NaT,NaN
13151,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,Only Care & Treatment Uploaded,2020-11-10,Nov-20,18743.0,NaN,NaT,NaN
13152,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,Only Care & Treatment Uploaded,2020-10-14,Oct-20,18743.0,NaN,NaT,NaN
13153,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,Only Care & Treatment Uploaded,2020-09-21,Sep-20,18743.0,NaN,NaT,NaN

In [10]:
#Remove Duplicates from original dataset - Unique Site with 1 Upload Date, upload MPI
rr = rr.drop_duplicates(subset=["DisplayMFL","UploadDate"])
rr.shape

(13140, 13)

In [11]:
# Create a column called UploadedCT & UploadedMPI
rr['uploadedCT'] = np.where(rr.UploadDate.isnull(),0,1)
rr['UploadedMPI'] = np.where(rr.UploadDate_MPI.isnull(),0,1)

### Summary Statistics
- How many Unique Facilities do we have (Number of Sites - Duplicates)

In [12]:
# Number of Unique EMR Sites - Denominator/ Expected Uploads
len(pd.unique(rr['DisplayMFL']))

1392

<h2><center> Expected Uploads </center></h2>

In [13]:
#Create a data Frame to hold distinct list of sites for the denominator / Baseline EMR Sites
#We will use later for left joining
rr_denom = rr.drop_duplicates(subset=['DisplayMFL'])
rr_denom=rr_denom[['DisplayMFL','DisplayFacilityName','DisplaySubcounty','DisplayCounty','DisplayMechanism','DisplayAgency']]
rr_denom.head()

,DisplayMFL,DisplayFacilityName,DisplaySubcounty,DisplayCounty,DisplayMechanism,DisplayAgency
0,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC
13,12860,AIC Zombe Health Centre,Kitui East,KITUI,CHAK CHAP Uzima,CDC
27,22059,Alwalidayn Dispensary,Msambweni,KWALE,Bomu Hospital Affiliated Sites,CDC
40,22085,Athi Mission Clinic,Kitui South,KITUI,CHAK CHAP Uzima,CDC
53,11936,Athi River Health Centre,Athi River,MACHAKOS,CHS Naishi,CDC

In [14]:
rr_denom.shape

(1392, 6)

<h2><center> CT RECENCY </center></h2>

In [15]:
#Filter the Original RR Data to the specific RR Period (FromDate ToDate)
mask = (rr['UploadDate'] >= FromDate) & (rr['UploadDate'] <= ToDate)
recency=rr.loc[mask]
recency.shape

(1168, 15)

In [16]:
#Number of Duplicates in CT_Recency Those that reported in the reporting month and between 1st and 5th of next month
len(recency['DisplayMFL'])- len(pd.unique(recency['DisplayMFL']))

KeyError: ('DisplayMFL', 'DisplayMechanism')

In [17]:
#Remove duplicates.Making Sure we are counting a site only once within the reporting period being looked at
recency = recency.drop_duplicates(subset=["DisplayMFL"])
recency.shape

(1168, 15)

In [18]:
#Join the CT Recency Dataset to the EMR Sites Denominator - #Left Join
result = pd.merge(rr_denom,
                 recency[['DisplayMFL', 'UploadDate','uploadedCT']],
                 on='DisplayMFL', 
                 how='left')
result.shape

SyntaxError: positional argument follows keyword argument (<ipython-input-18-125ae37d51a2>, line 4)

<h2><center> CT CONSISTENCY </center></h2>

In [24]:
# Define Period to compute 
consist_FromDate=pd.to_datetime(FromDate)-pd.DateOffset(months=2)
print('Consistency Period - From Date: ',consist_FromDate,'To Date: ',ToDate)

Consistency Period - From Date:  2021-03-01 00:00:00 To Date:  2021-05-31 00:00:00

In [25]:
#Filter the data to return - only sites that have Uploaded every month last 3 months
const = (rr['UploadDate'] >= consist_FromDate) & (rr['UploadDate'] <= ToDate)
consistency=rr.loc[const]
consistency.shape

(3352, 15)

In [26]:
#Pivot the Data then add instances of uploads by month, filter only those that uploaded all 3 months
cs=pd.pivot_table(consistency, values='uploadedCT', 
                    columns='Upload_monthYear',
                    index='DisplayMFL')

cs = cs.replace(np.nan, 0)
cs['UploadedConsistently']=cs.sum(axis=1) 
cs = cs.loc[(cs['UploadedConsistently']>=3)] 
cs.reset_index(inplace=True)# Flatten the table

#If Uploaded consistently is NULL then 0 other wise 1
cs['UploadedConsistently'] = np.where(cs.UploadedConsistently.isnull(),0,1)

cs

Upload_monthYear  DisplayMFL  Apr-21  Mar-21  May-21  UploadedConsistently
0                      10019     1.0     1.0     1.0                     1
1                      10049     1.0     1.0     1.0                     1
2                      10055     1.0     1.0     1.0                     1
3                      10100     1.0     1.0     1.0                     1
4                      10110     1.0     1.0     1.0                     1
..                       ...     ...     ...     ...                   ...
925                    22476     1.0     1.0     1.0                     1
926                    24200     1.0     1.0     1.0                     1
927                    24339     1.0     1.0     1.0                     1
928                    24969     1.0     1.0     1.0                     1
929                    25260     1.0     1.0     1.0                     1

[930 rows x 5 columns]

In [27]:
#Join the Consistency Dataset to the CT Recency - #Left Join
result = pd.merge(result,
                 cs[['DisplayMFL', 'UploadedConsistently']],
                 on='DisplayMFL', 
                 how='left')
result.shape

(1392, 9)

In [28]:
result

,DisplayMFL,DisplayFacilityName,DisplaySubcounty,DisplayCounty,DisplayMechanism,DisplayAgency,UploadDate,uploadedCT,UploadedConsistently
0,17431,AIC Kalamba Dispensary,Makueni,MAKUENI,CHAK CHAP Uzima,CDC,2021-05-04,1.0,1.0
1,12860,AIC Zombe Health Centre,Kitui East,KITUI,CHAK CHAP Uzima,CDC,2021-05-05,1.0,1.0
2,22059,Alwalidayn Dispensary,Msambweni,KWALE,Bomu Hospital Affiliated Sites,CDC,2021-05-17,1.0,1.0
3,22085,Athi Mission Clinic,Kitui South,KITUI,CHAK CHAP Uzima,CDC,2021-05-05,1.0,1.0
4,11936,Athi River Health Centre,Athi River,MACHAKOS,CHS Naishi,CDC,2021-05-06,1.0,1.0
...,...,...,...,...,...,...,...,...,...
1387,17548,EDARP Njiru Clinic,Kasarani,NAIROBI,EDARP,CDC,2021-05-13,1.0,NaN
1388,17719,EDARP Komarock Health Centre,Embakasi Central,NAIROBI,EDARP,CDC,2021-05-19,1.0,NaN
1389,18219,St Alice (EDARP) Dandora,Kasarani,NAIROBI,EDARP,CDC,2021-05-18,1.0,NaN
1390,18409,St Veronica EDARP Clinic,Kamukunji,NAIROBI,EDARP,CDC,2021-05-21,1.0,NaN
1391,18743,Kariobangi EDARP,Embakasi North,NAIROBI,EDARP,CDC,2021-05-21,1.0,NaN

### Reporting Rates by County

In [29]:
byCounty=(result.groupby(['DisplayCounty'])
   .agg({'DisplayCounty':'count','uploadedCT': 'sum','UploadedConsistently':'sum'})
   .rename(columns={'DisplayCounty':'ExpectedUpload','uploadedCT' : 'CT Recently Uploaded','UploadedConsistently' : 'CT Consistency' })
         )
byCounty.reset_index(inplace=True)# Flatten the table
byCounty['Recency%']=(byCounty['CT Recently Uploaded']/byCounty['ExpectedUpload'])
byCounty['Consistency%']=(byCounty['CT Consistency']/byCounty['ExpectedUpload'])
byCounty=byCounty [['DisplayCounty','ExpectedUpload','CT Recently Uploaded','Recency%','CT Consistency','Consistency%']]
byCounty

,DisplayCounty,ExpectedUpload,CT Recently Uploaded,Recency%,CT Consistency,Consistency%
0,BARINGO,11,11.0,1.000000,11.0,1.000000
1,BOMET,23,3.0,0.130435,3.0,0.130435
2,BUNGOMA,24,24.0,1.000000,23.0,0.958333
3,BUSIA,23,19.0,0.826087,17.0,0.739130
4,ELGEYO MARAKWET,9,3.0,0.333333,3.0,0.333333
5,EMBU,21,12.0,0.571429,6.0,0.285714
6,HOMA BAY,170,148.0,0.870588,76.0,0.447059
7,ISIOLO,1,0.0,0.000000,0.0,0.000000
8,KAJIADO,20,18.0,0.900000,18.0,0.900000
9,KAKAMEGA,52,47.0,0.903846,43.0,0.826923
10,KERICHO,14,6.0,0.428571,2.0,0.142857
11,KIAMBU,39,37.0,0.948718,18.0,0.461538
12,KILIFI,15,14.0,0.933333,14.0,0.933333
13,KIRINYAGA,16,16.0,1.000000,14.0,0.875000
14,KISII,34,32.0,0.941176,30.0,0.882353
15,KISUMU,79,75.0,0.949367,68.0,0.860759
16,KITUI,35,35.0,1.000000,33.0,0.942857
17,KWALE,16,13.0,0.812500,9.0,0.562500
18,LAIKIPIA,21,20.0,0.952381,19.0,0.904762
19,MACHAKOS,40,38.0,0.950000,27.0,0.675000
20,MAKUENI,33,33.0,1.000000,29.0,0.878788
21,MERU,32,15.0,0.468750,9.0,0.281250
22,MIGORI,50,50.0,1.000000,45.0,0.900000
23,MOMBASA,36,24.0,0.666667,18.0,0.500000
24,MURANG'A,30,30.0,1.000000,29.0,0.966667
25,NAIROBI,129,97.0,0.751938,64.0,0.496124
26,NAKURU,28,26.0,0.928571,23.0,0.821429
27,NANDI,19,4.0,0.210526,1.0,0.052632
28,NAROK,20,11.0,0.550000,6.0,0.300000
29,NYAMIRA,40,39.0,0.975000,38.0,0.950000
30,NYANDARUA,19,11.0,0.578947,11.0,0.578947
31,NYERI,34,28.0,0.823529,27.0,0.794118
32,SAMBURU,6,6.0,1.000000,6.0,1.000000
33,SIAYA,135,127.0,0.940741,110.0,0.814815
34,TAITA TAVETA,18,15.0,0.833333,10.0,0.555556
35,THARAKA-NITHI,13,11.0,0.846154,7.0,0.538462
36,TRANS NZOIA,18,14.0,0.777778,14.0,0.777778
37,TURKANA,19,11.0,0.578947,7.0,0.368421
38,UASIN GISHU,21,20.0,0.952381,19.0,0.904762
39,VIHIGA,23,22.0,0.956522,22.0,0.956522
40,WEST POKOT,6,3.0,0.500000,1.0,0.166667

### Reporting Rates by Partner

In [30]:
byPartner=(result.groupby(['DisplayMechanism'])
   .agg({'DisplayMechanism':'count','uploadedCT': 'sum','UploadedConsistently':'sum'})
   .rename(columns={'DisplayMechanism':'ExpectedUpload','uploadedCT' : 'CT Recently Uploaded','UploadedConsistently' : 'CT Consistency' })
         )
byPartner.reset_index(inplace=True)# Flatten the table
byPartner['Recency%']=(byPartner['CT Recently Uploaded']/byPartner['ExpectedUpload'])
byPartner['Consistency%']=(byPartner['CT Consistency']/byPartner['ExpectedUpload'])
byPartner=byPartner [['DisplayMechanism','ExpectedUpload','CT Recently Uploaded','Recency%','CT Consistency','Consistency%']]

### Save the data to Excel

In [32]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
rrperiod=str(calendar.month_abbr[FromDate.month])+str(FromDate.year)
filename='CTReportingRates_mysql_'+str(rrperiod)+".xlsx"

In [33]:
writer = pd.ExcelWriter(filename, engine='xlsxwriter')

# Write each dataframe to a different worksheet.
result.to_excel(writer, sheet_name='LineList')
byCounty.to_excel(writer, sheet_name='ByCounty')
byPartner.to_excel(writer, sheet_name='ByPartner')

# Close the Pandas Excel writer and output the Excel file.
writer.save()